body {
  font-family: Montserrat, sans-serif;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #ffffff;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-form-input {
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-form-input:hover {
  border-color: #000;
}

.search-form-input:focus {
  border-color: #4e75ff;
}

.search-form-btn {
  height: 40px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-form-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 48px 156px;
  width: 100%;
  background-color: #fff;
  margin: 0;
}

.gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #808080;
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.gallery-item:hover {
  transform: scale(1.03);
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  background-color: #fff;
  color: #2e2f42;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}

.info-text {
  width: min-content;
  text-align: center;
}

.loader {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.hidden {
  display: none;
}
